
{% extends "base.html" %}

{% block content %}
      <form action="{{ url_for('saveReviews')}}" method="post">
          <h5>Add Review!</h5>
         
          <div>
            <input type="text" name="driver_review" placeholder="Enter driver_review">
        </div>
        <div>
            <input type="text" name="passenger_review" placeholder="Enter passenger_review">
        </div>
       
          <div>
              <button >Submit</button>
          </div>
      </form>
{% endblock %}