
{% extends "base.html" %}

{% block content %}
      <form action="{{ url_for('saveReviews')}}" method="post">
          <h5>Add Review!</h5>
          <h6>Select Ride type</h6>
          <input type="radio" id="ride_type_offer" name="ride_type_radio" value="Offer_Ride" required>
          <label for="ride_type_offer">Offer Ride</label>
          <input type="radio" id="ride_type_request" name="ride_type_radio" value="Request_Ride">
          <label for="ride_type_request">Request Ride</label><br>  
          <div>
            <input type="number" name="ride_id" placeholder="Enter Ride ID" required>
        </div>
        <div>
            <input type="text" name="review" placeholder="Enter Review" required>
        </div>
       
          <div>
              <button >Submit</button>
          </div>
      </form>
{% endblock %}