{% extends "base.html" %}

{% block content %}
      <form action="{{ url_for('saveRide')}}" method="post">
          <h5>Add a ride</h5>
          <input type="radio" id="ride_type_offer" name="ride_type_radio" value="Offer_Ride" required>
          <label for="ride_type_offer">Offer Ride</label>
          <input type="radio" id="ride_type_request" name="ride_type_radio" value="Request_Ride">
          <label for="ride_type_request">Request Ride</label><br>  
        <div>
            <input type="date" name="r_date"  placeholder="Enter r_date">
        </div>
        <div>
            <input type="time" name="r_time" placeholder="Enter r_time">
        </div>
        <div>
            <input type="text" name="r_from" placeholder="Enter r_from">
        </div>
        <div>
            <input type="text" name="r_to" placeholder="Enter r_to">
        </div>
        <!-- <div>
            <input type="text" name="v_id" placeholder="Enter v_id">
        </div> -->
        <!-- <select id="v_id_select" name="v_id_select"></select>   -->
        <div>
            <input type="number" name="r_fee" placeholder="Enter r_fee">
        </div>
        <div>
            <input type="text" name="license_id" placeholder="Enter License">
        </div>
        
        <div>
            <input type="text" name="p_address" placeholder="Enter address" id = "p_addr" hidden = "true">
        </div>
        <!-- <div>
            <input type="text" name="review_id" placeholder="Enter review_id">
        </div> -->
       
          <div>
              <button >Submit</button>
          </div>
      </form>



      
{% endblock %}