{% extends "base.html" %}

{% block content %}
      <form action="{{ url_for('saveRide')}}" method="post">
          <h5>Add a ride</h5>
          
          <div>
            <input type="date" name="r_date"  placeholder="Enter r_date">
        </div>
        <div>
            <input type="text" name="r_time" placeholder="Enter r_time">
        </div>
        <div>
            <input type="text" name="r_from" placeholder="Enter r_from">
        </div>
        <div>
            <input type="text" name="r_to" placeholder="Enter r_to">
        </div>
        <div>
            <input type="text" name="v_id" placeholder="Enter v_id">
        </div>
        <div>
            <input type="text" name="r_fee" placeholder="Enter r_fee">
        </div>
        <div>
            <input type="text" name="driver_id" placeholder="Enter driver_id">
        </div>
        <div>
            <input type="text" name="p_id" placeholder="Enter p_id">
        </div>
        <!-- <div>
            <input type="text" name="review_id" placeholder="Enter review_id">
        </div> -->
       
          <div>
              <button >Submit</button>
          </div>
      </form>
{% endblock %}