
{% extends "base.html" %}

{% block content %}
{% if hasMessage %}
    <div class="container messageToShow" >
    <p>{{ messageBody }}</p>
    </div>
{% endif %}

  <table id="data" class="table table-striped">
    <thead>
      <tr>
        <th>Ride From</th>
        <th>Ride To</th>
        <th>Ride Fee</th>
        <th>When</th>
        <th>Ride by</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
{% endblock %}

{% block scripts %}
  <script>
    $(document).ready(function () {
      $('#data').DataTable({
        ajax: '/ridesData',
        columns: [
          {data: 'r_from',orderable: false},
          {data: 'r_to', orderable: false},
          {data: 'r_fee', searchable: false},
          {data: 'r_date', orderable: true, searchable: false},
          {data: 'driver_id', orderable: false}
        ],
      });
    });
  </script>
{% endblock %}
