{% extends "base.html" %}

{% block content %}
      <form action="{{ url_for('add_vehicle')}}" method="post">
          <h5>Add vehicle</h5>
          
          
          <div>
              <input type="text" name="model" placeholder="Enter model">
          </div>
          <div>
            <input type="number" name="capacity" placeholder="Enter capacity">
        </div>
        <div>
            <input type="text" name="license_plate" placeholder="Enter License Plate Number">
        </div>
        <div>
            <input type="text" name="color" placeholder="Enter color">
        </div>
          <div>
              <button >Submit</button>
          </div>
      </form>
{% endblock %}